<style>
    .filter-cats {
        font-size: 16px;
    }
    .filter-price {
      font-size: 18px;
    }
    .priice-slider {
      width: 100%;
      margin-bottom: 50px;
    }
</style>

<div class="w-80 bg-white pr-5">
    <!-- Categories -->
    <div class="mb-6">
      <h2 class="text-lg font-semibold text-gray-900 border-b pb-2">CATEGORIES</h2>
      <ul class="mt-2 space-y-2 text-sm text-gray-700">
        <li *ngFor="let category of categories" class="filter-cats">
          <input [id]="'category' + category.categorieID"  (change)="onCategoryChange(category.categorieID)" type="radio" name="categoryFilter" [(ngModel)]="selectedCategoryId" [value]="category.categorieID" class="mr-2">
          <label [for]="'category' + category.categorieID" class="ml-2">{{ category.nom }}</label>
        </li>
      </ul>
    </div>
  
    <!-- Price -->
    <h2 class="text-lg font-semibold text-gray-900 border-b pb-2">prix</h2>
  <div class="price-values my-3 filter-price">
      Prix sélectionné: <span>{{ selectedPrice }} DT</span>
  </div>

  <div class="slider-container">
    <div class="slider-container">
      <input type="range" class='priice-slider' min="20" max="2000" step="20" [(ngModel)]="selectedPrice" (input)="onPriceChange($event)" />
    </div>
  </div>
  
    <!-- Reset Button -->
    <button (click)="resetFilters()" class="w-full text-center bg-blue-500 text-white py-2 rounded-md hover:bg-blue-600">Réinitialiser</button>
  </div>