<div class="outer-footer">
    <div class="footer">
        <div class="footer-section-1">
            <div class="footer-inner-section-1 footer-inner-section">
                <a href=""><img src="/logo.png" alt="Logo"></a>
                <p>TechShop est votre boutique en ligne dédiée aux produits high-tech, offrant des ordinateurs, smartphones, consoles de jeux et bien plus. Profitez d'une expérience d'achat facile, de produits de qualité et de prix compétitifs..</p>
            </div>
            <div class="footer-inner-section-2 footer-inner-section">
                <h2>Navigation</h2>
                <div class="footer-navigation-links">
                    <a href="">Accueil</a>
                    <a href="">Boutique</a>
                    <a href="">Categories</a>
                    <a href="">Panier</a>
                    <a href="">Connexion</a>
                </div>
            </div>
            <div class="footer-inner-section-3 footer-inner-section">
                <h2>Contact</h2>
                <div class="footer-navigation-links">
                    <div class="contact-navigation-1">
                        <a href=""><i class="fas fa-phone"></i></a>
                        <a href="">+216 123 456 78</a>
                    </div>
                    <div class="contact-navigation-1">
                        <a href=""><i class="fas fa-globe"></i></a>
                        <a href="">example.com</a>
                    </div>
                    <div class="contact-navigation-1">
                        <a href=""><i class="fas fa-map-marker-alt"></i></a>
                        <a href="">Adresse 1 Rue 1 ville 1</a>
                    </div>
                </div>
            </div>
            <div class="footer-inner-section-4 footer-inner-section">
                <h2>Votre compte</h2>
                <div class="footer-navigation-links">
                    <a href="">Informations generales</a>
                    <a href="">Paramètres</a>
                    <a href="">Panier</a>
                    <a href="">Terms & Condition</a>
                    <a href="">Déconnexion</a>
                </div>
            </div>
        </div>
        <div class="footer-section-2">
            <p>2025 Techshop - all rights reserved</p>
        </div>
    </div>
</div>
