<head>

    <title>TechShop</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>


<div class="header">
    <div class="header-section-1">
        <div class="header-inner-section-1">
            <a href=""><img src="assets\images\logo.png" alt=""></a>
            <input type="text" placeholder="Search...">
            <div class="header-section-1-buttons">
                <a href="cart" class="cart-icon"><i class="fas fa-shopping-cart"></i></a>
                <button (click)="goToPage()">S'inscrire</button>
            </div>
        </div>
    </div>
    <div class="header-section-2">
        <div class="header-inner-section-2">
            <a *ngFor="let category of categories" (click)="goToCategory(category.categorieID)">
                {{ category.nom }}
              </a>
        </div>
    </div>
</div>