<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Votre Site Web</title>
	<link rel="stylesheet" href="styles.css"> <!-- Lien vers le fichier CSS -->
  </head>
  
  <div class="container" id="container">
	<!-- Sign Up Form -->
	<div class="form-container sign-up-container">
	  <form action="#">
		<h1>Créer un compte</h1>
		
		<label for="name">Nom</label>
		<input type="text" id="name" placeholder="Nom" required />
		
		<label for="email">Email</label>
		<input type="email" id="email" placeholder="Email" required />
		
		<label for="password">Mot de passe</label>
		<input type="password" id="password" placeholder="Mot de passe" required />
		
		<label for="confirm-password">Confirmer votre mot de passe</label>
		<input type="password" id="confirm-password" placeholder="Confirmer votre mot de passe" required />
		
		<label>
		  <div class="ch">
			<input type="checkbox" id="terms" required />
			<p>J'accepte les termes et conditions</p>
		  </div>
		</label>
		
		<br />
		<button type="submit">S'inscrire</button>
	  </form>
	</div>
  
	<!-- Sign In Form -->
	<div class="form-container sign-in-container">
	  <form action="#">
		<h1>Se connecter</h1>
		<label for="email">Email</label>
		<input type="email" id="email" placeholder="Email" required />
		<label for="password">Mot de passe</label>
		<input type="password" id="password" placeholder="Mot de passe" required />
		<a href="#">Mot de passe oublié ?</a>
		<button type="button">Se connecter</button>
	  </form>
	</div>
  
	<!-- Overlay Section -->
	<div class="overlay-container">
	  <div class="overlay">
		<div class="overlay-panel overlay-left">
		  <h1>Bienvenue à nouveau !</h1>
		  <p>Pour rester connecté avec nous, veuillez vous connecter avec vos informations personnelles</p>
		  <button class="ghost" id="signIn">Se connecter</button>
		</div>
		<div class="overlay-panel overlay-right">
		  <h1>Bonjour !</h1>
		  <p>Entrez vos informations personnelles et commencez votre aventure avec nous</p>
		  <button class="ghost" id="signUp">S'inscrire</button>
		</div>
	  </div>
	</div>
  </div>
  