.hero-section {
  background-color: #bbf7d0;
  padding: 3rem 0;
}

.hero-container {
  text-align: center;
}

.hero-title {
  font-size: 2rem;
  font-weight: bold;
  color: #15803d;
  margin-bottom: 1rem;
}

.hero-subtitle {
  font-size: 1.125rem;
  color: #4b5563;
  max-width: 40rem;
  margin: 0 auto;
}

.categories-section {
  padding: 2rem 0;
}

.categories-container {
  padding: 0 1rem;
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));/*Try to fit as many columns as possible.*/
  gap: 1rem;
}

.category-card-wrapper {
  position: relative;
  height: 8rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.category-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category-card-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}


.category-card-title {
  font-weight: 500;
  font-size: 1.125rem;
}
/***********************/

.filters-and-listings {
  display: flex;
  margin-top: 2rem;
}

.filter-sidebar {
  padding: 1rem;
}

.pet-cards-section {
  padding-left: 1rem;
  margin-left: 1rem;
}
.report-button {
  background-color: #34a853;
  color: white;
  padding: 0.875rem 2rem;
  border-radius: 9999px;
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1.5rem;
}

.report-button a {
  color: white;
  text-decoration: none;
}

.report-button:hover {
  background-color: #166534;
}
