<div class="shop-container py-20">
  <div class="shop-title-outer-container mx-auto">
    <div class="flex align-items-center justify-between shop-title-container">
      <div class="test">
        <nav class="text-sm">
          <a href="" class=" shop-title-breadcumbs">Home</a>
          <span class="mx-2">/</span>
          <span class="text-gray-700 shop-title-breadcumbs">Shop</span>
        </nav>
        <h1 class="text-4xl font-bold mt-2">Explore all products</h1>
      </div>
    </div>
  </div>
</div>